* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* HEADER */
header {
  padding: 15px;
}

header h1 {
  font-size: 1.5rem;
}

header p {
  font-size: 0.9rem;
  color: #aaa;
}

/* APP */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* VIDEO */
.video-container {
  position: relative;
  width: 100%;
  max-width: 420px;
  aspect-ratio: 4 / 3;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #00ff99;
}

video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FEEDBACK */
.feedback-panel {
  margin-top: 15px;
  background: #1b1b1b;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  border-radius: 12px;
}

#message {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.accuracy-box span {
  font-size: 2.2rem;
  color: #aaa;
}

.accuracy-box h2 {
  font-size: 2.2rem;
  color: #00ff99;
}

/* FOOTER */
footer {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #888;
}

/* DESKTOP */
@media (min-width: 768px) {
  .app {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .feedback-panel {
    margin-top: 0;
  }
}
