body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

video, canvas {
  width: 480px;
  border-radius: 10px;
}

.feedback {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}
